@keyframes bingoball {
    from{
        opacity:0;
        transform:rotate(90deg);
        left:20px;
    }
    to{
        opacity:1;
        transform:rotate(0deg);
        left:0px;
    }
}

@keyframes congrats {
    from{
        transform:scale(0,0);
    }
    to{
        transform:scale(1,1);
    }   
}

body{
    font-family: 'Roboto', sans-serif;
}
.site-wrapper{
    width:800px;
    margin: 0 auto;
    text-align: center;
}
.container{
    width:250px;
    height:auto;
    margin: 0 auto;
    display:block;
    overflow:hidden;
}

button{
    width: 100px;
    height:50px;
    background-color: #44d9e6;
    border:1px solid gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.squareButton{
    width: 50px;
    height:50px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.pressed{
    background-color: #00ff00;
}
.squareContainer{
    float: left;
    width: 50px;
    height:50px;
    position: relative;
}

.played-numbers{
    list-style-type:none;
    padding-left: 0 ;
}
.played-number-item{
    display:inline-block;
    width:30px;
    height:30px;
    margin: 5px 5px;
    border-radius: 30px;
    border: 8px solid red;
    line-height: 30px;
    position:relative;
    animation-name:bingoball;
    animation-duration: 1s;
}
.congratulations{
    position: absolute;
    width: 300px;
    height: 250px;
    left:50%;
    margin-left: -150px;
    top: 100px;
    z-index: 1;
    border:1px solid gray;
    background-color: white;
    animation-name: congrats;
    animation-duration: 1s;
}
